body{
    width: 960px;
    margin: 0 auto;

}
nav{
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;
    float: right;
    text-align: center;
}
nav li a{
    display: block;
    text-decoration: none;
    margin-right: 12px;
    width: 4em;
    padding: 8px;
    line-height: 1.50em;
    color: #000;
}
